/* Responsive Design */

@media only screen and (min-width: 38rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .trending-images {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .affiliate {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
}
