/* Responsive Design */

@media only screen and (min-width: 38rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-posts {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  .trending-images {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .affiliate {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  

}
